.container {
  //   min-height: 50px !important;
  width: 100%;
  margin-top: 100px;
  height: 100%;
  right: 0px; /* set top and left 0 */
  left: 0px;
}

.imgBox {
  height: 200px;
}

.carousel .carousel-status {
  display: none;
}
